* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --hdcolor: #501791;
  --ascolor: #605885;
  --sccolor: #433b67;
}
:root, html, body {
  width: 100%;
  height: 100%;
  font-size: 100%;
}
#page-structure-container {
  display: grid;
  grid-template-columns: 170px auto;
  grid-template-rows: 3vh 15vh 77vh 5vh;
  grid-template-areas: 'EB EB'
                       'UA HD'
                       'AS SC'
                       'AS FT';
}
/* HD == HEADER
   AS == ASIDE
   SC == SECTION
   FT == FOOTER
   UA == USER AVATAR*/
.exit-bar {
  background-color: var(--ascolor);
  grid-area: EB;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  user-select: none;
}
.avatar-user-container {
  background-color: var(--ascolor);
  grid-area: UA;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
}
.main-header-content {
  background-color: var(--hdcolor);
  grid-area: HD;
  display: flex;
}
.user-options-aside {
  background-color: var(--ascolor);
  grid-area: AS;
  display: flex;
  align-items: center;
}
.main-minerva-content {
  background-color: var(--sccolor);
  grid-area: SC;
}
.next-page-options {
  background-color: var(--hdcolor);
  grid-area: FT;
}
#page-title-container {
  display: flex;
  height: 100%;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  user-select: none;
}
#title {
  font-family: 'PT Sans', sans-serif;
  font-size: 3rem;
  color: white;
  font-family: 'Exo 2', sans-serif;
}
#title > span {
  font-size: 1.8rem;
}
.user-options-list {
  height: 600px;
  width: 100%;
}
table {
  width: 100%;
}
tr.info {
  height: 40px;
  background-color: #ebebeb;
  border-radius: 4px;
}
.form {
  width: 500px;
  height: 600px;
  background-color: tomato;
  position: absolute;
  top: 10%;
  left: 40%;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.newinput {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'PT Sans', sans-serif;
}
.newinput > input {
  width: 150%;
  margin: 10px;
  height: 30px;
  border: none;
  font-size: 1.1rem;
}
input#add {
  width: 50%;
  height: 40px;
  cursor: pointer;
}